@keyframes leftFadeIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.t--form-element-flex-box {
  display: flex;
  margin: -6px;
  flex-wrap: wrap;
}
.t--form-element-image-inline {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.t--form-element-image {
  max-width: 100%;
}
.t--form-validation-group {
  height: 1px;
  min-height: 100%;
}
.t--form-validation-group .t--form-validation-group {
  height: auto;
  min-height: auto;
}
.t--form-container {
  height: 1px;
  min-height: calc(100% + 12px);
  align-content: flex-start;
}
.t--form-container .t--form-container {
  height: auto;
  min-height: auto;
}
.t--form-relative-container {
  position: relative;
  height: 100%;
}
.t--form-absolute-container {
  position: absolute;
  height: calc(100% - 12px);
  width: calc(100% - 12px);
}
