@import "../../../base/styles/variables.less";

.t--header {
  display: flex;
  align-items: center;
  height: @headerHeight;
  margin-left: @sidebarExpandedWidth;
  padding-left: @padding;
  .transition(margin-left);
}
.t--sidebar-collapsed {
  .t--header {
    margin-left: @sidebarCollapsedWidth;
  }
}

.t--header-flex {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  > div:not(:first-child) {
    margin-left: 24px;
  }
}
.t--header-logo {
  height: (@headerHeight - 25px);

  > img {
    height: 100%;
  }
}
.t--header-title {
  display: flex;
  align-items: center;
}
.t--header-search {

}
.t--header-between {
  flex-grow: 1;
}
.t--header-options {
  display: flex;
  height: 100%;
  align-items: center;

  > div {
    height: 100%;
    padding: 0 12px;
    border-left: 1px solid #eeeeee;

    display: flex;
    align-items: center;
    cursor: pointer;

    &:not(.t--header-avatar) {
      &:hover {
        background-color: #eeeeee;
      }
    }
  }
}
.t--header-avatar {
  > div {
    height: (@headerHeight - 25px);
    width: (@headerHeight - 25px);
    border-radius: (@headerHeight - 25px);
    border: 1px solid darkgray;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.t--header-avatar-command-container {
  padding: 12px;
}
.t--header-avatar-command {
  cursor: pointer;
}
.t--header-command {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;

  i > {
    margin-bottom: 6px;
    font-size: 16px;
  }
}
.t--header-command-badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 6px;
  right: -6px;
  min-width: 18px;
  height: 18px;
  border-radius: 18px;
  background-color: #e80000;
  color: white;
}