<template class="t--header">
  <require from="./header.css"></require>

  <div class="t--header-flex">
    <div class="t--header-logo" if.bind="header.logoUrl">
      <img src.bind="header.logoUrl">
    </div>
    <div class="t--header-title" if.bind="header.text">
      ${header.text}
    </div>
    <div class="t--header-search" if.bind="header.onSearch.anyRegistered">
      <dx-widget name="dxTextBox" options.bind="searchTextOptions"></dx-widget>
    </div>
    <div class="t--header-between"></div>
    <div class="t--header-options">
      <div repeat.for="command of commands" click.delegate="command.execute()" if.bind="command.isVisible && command.isEnabled">
        <div class="t--header-command">
          <i class="fa fa-${command.icon}" if.bind="command.icon"></i>
          <div>${command.title}</div>
        </div>
      </div>

      <div class="t--header-avatar" click.delegate="onAvatarClick()" ref="avatar">
        <div css.bind="header.avatarStyle"></div>
      </div>
    </div>
  </div>

  <dx-widget name="dxPopover" options.bind="avatarPopoverOptions" view-model.ref="avatarPopover">
    <dx-template name="contentTemplate">
      <div class="t--header-avatar-command-container">
        <div repeat.for="command of avatarCommands" click.delegate="command.execute()" if.bind="command.isVisible && command.isEnabled">
          <div class="t--header-avatar-command">
            ${command.title}
          </div>
        </div>
      </div>
    </dx-template>
  </dx-widget>
</template>