<template class="t--view">
  <require from="./view.css"></require>

  <div class="t--view-toolbar">
    <dx-widget if.bind="toolbarOptions" name="dxToolbar" options.bind="toolbarOptions">
      <dx-template name="itemTemplate">
        <a class="t--view-toolbar-item" click.delegate="data.guardedExecute()">
          <div if.bind="data.command.badgeText" class="t--view-toolbar-item-badge">
            ${data.command.badgeText}
          </div>
          <div>
            <div if.bind="data.command.icon" class="t--view-toolbar-item-icon">
              <i class="fa fa-fw fa-${data.command.icon}"></i>
            </div>
            <div if.bind="data.command.title" class="t--view-toolbar-item-title">
              ${data.command.title}
            </div>
          </div>
        </a>
      </dx-template>
    </dx-widget>
  </div>
  <div class="t--view-content">
    <div class="container-fluid">
      <div class="row">
        <compose
          view-model.ref="controller" 
          view-model.bind="view.viewModel" 
          model.bind="view.model" 
          class="t--view-content"></compose>
      </div>
    </div>
  </div>
</template>