@keyframes leftFadeIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.t--view {
  display: block;
  position: relative;
  height: 100%;
  overflow-x: hidden;
}
.t--view-content-wrapper {
  display: block;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.t--view-content {
  display: table;
  width: 100%;
  margin-bottom: 12px;
  -webkit-overflow-scrolling: touch;
}
.t--view-with-toolbar .t--view-content-wrapper {
  height: calc(100% - 60px);
}
