.t--view {
  display: block;
  position: relative;
  height: 100%;
}
.t--view-toolbar {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #808080;
  color: white;
}
.t--view-toolbar .dx-toolbar {
  background-color: transparent;
}
.t--view-toolbar-title {
  font-size: 26px;
  font-weight: 100;
  color: white;
  padding: 0 12px;
}
.t--view-content {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.t--view-with-toolbar .t--view-content {
  height: calc(100% - 60px);
}
