<template class="t--view" class.bind="className">
  <require from="./view.css"></require>

  <div class="t--toolbar" if.bind="createToolbar">
    <dx-widget if.bind="toolbarOptions" name="dxToolbar" options.bind="toolbarOptions"></dx-widget>
  </div>
  <div class="t--view-content-wrapper">
    <div class="parent-container">
      <compose
        view-model.ref="view.controller" 
        view-model.bind="view.moduleId" 
        model.bind="view.model" 
        class="t--view-content"></compose>
    </div>
  </div>
</template>