<template class="t--sidebar">
  <require from="./sidebar.css"></require>

  <div class="t--sidebar-header" click.delegate="onHeaderClicked()">
    <div class="t--sidebar-header-title">
      Navigation
    </div>
    <div class="t--sidebar-header-icon">
      <i class="fa fa-${headerIcon}"></i>
    </div>
  </div>

  <ul>
    <li
      class="t--sidebar-item" 
      repeat.for="route of router.navigationRoutes">
      <a href="#${route.route}" stack-router-link="clear-stack.bind: true">
        <span class="t--sidebar-item-title">
          ${route.title}
        </span>
        <span class="t--sidebar-item-icon" if.bind="route.icon">
          <i class="fa fa-${route.icon}"></i>
        </span>
      </a>
    </li>
  </ul>
</template>
