@import "../../styles/variables.less";

.t--content {
  display: block;
  margin-left: @sidebarExpandedWidth;
  height: ~"calc(100% - @{headerHeight})";
}

.t--sidebar-collapsed {
  .t--content {
    margin-left: @sidebarCollapsedWidth;
  }
}

.t--view-current {
  display: block;
}
.t--view-history {
  display: none;
}