<template>
    <div class="tip-margin-top col-xs-12">
        <div class="tip-editor-caption">Hilfe</div>
        <dx-widget name="dxTextBox" options.bind="id360c584776fa432e9116993044cd46b1Options"></dx-widget>
    </div>
    <div class="tip-margin-top col-xs-12">
        <div class="tip-editor-caption">&nbsp;</div>
        <dx-widget name="dxCheckBox" options.bind="id49bae163648a4b7bb76befddb3203adbOptions"></dx-widget>
    </div>
    <div class="tip-margin-top col-xs-12">
        <div class="tip-editor-caption">Hilfe</div>
        <dx-widget name="dxColorBox" options.bind="id460828c7182d4ccfbbd9bce955ec5cefOptions"></dx-widget>
    </div>
</template>