<template>
    <div class="col-xs-12">
        <div class="tip-form-element-flex-box">
            <div class="tip-margin-top">
                <h1>${model.data.$m_Dummy2.Name} asdf</h1>
            </div>
            <div class="tip-margin-top">
                <h2>${model.data.$m_Dummy2.Name}</h2>
            </div>
            <div class="tip-margin-top">
                <h3>${model.data.$m_Dummy2.Name}</h3>
            </div>
            <div class="tip-margin-top">
                <h4>${model.data.$m_Dummy2.Name}</h4>
            </div>
            <div class="tip-margin-top">
                <h5>${model.data.$m_Dummy2.Name}</h5>
            </div>
            <div class="tip-margin-top">
                <h6>${model.data.$m_Dummy2.Name}</h6>
            </div>
        </div>
    </div>
    <div class="tip-margin-top col-xs-12">
        <div class="tip-editor-caption">&nbsp;</div>
        <a class="tip-form-element-file-download-link" target="_blank" href="http://www.vol.at">Download</a>
    </div>
    <div class="tip-margin-top col-xs-12">
        <div class="tip-editor-caption">&nbsp;</div>
        <a class="tip-form-element-file-download-link" target="_blank" href.bind="idf67a8fdb628644498a8e3de5b89f23fb">Download</a>
    </div>
    <div class="tip-margin-top col-xs-12">
        <i class="fa fa-home"></i>
    </div>
    <div class="tip-margin-top col-xs-12">
        <i class="fa" class.bind="function.$f_Test.icon"></i>
    </div>
    <div class="tip-margin-top col-xs-12">
        <div class="tip-form-element-image-inline tip-form-element-image" style="height: 150px;background-size: contain;background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/ec/Blume_mit_Schmetterling_und_Biene_1uf.JPG');"></div>
    </div>
    <div class="tip-margin-top col-xs-12">
        <div class="tip-form-element-image-inline tip-form-element-image" css.bind="id3b017d067c6a49ac8268162a3d7c6c6b" style="height: 150px;background-size: contain;"></div>
    </div>
    <div class="tip-margin-top col-xs-12">
        <img class="tip-form-element-image" src.bind="id44256a8a58944467b7347b6d8655e655"></img>
    </div>
    <div class="col-xs-12">
        <div class="tip-editor-caption">&nbsp;</div>
        <div>
            <div>
                Ich bin ein Dummy-Html
            </div>
        </div>
    </div>
    <div class="tip-margin-top col-xs-12">
        <div class="tip-editor-caption">&nbsp;</div>
        <dx-widget name="dxButton" options.bind="id96cf04a35a074cfda15495217fe53a86Options"></dx-widget>
    </div>
    <div class="tip-margin-top col-xs-6">
        <div class="tip-editor-caption">Name</div>
        <dx-widget name="dxTextBox" options.bind="idb2a72d4282da428c86be0030016dfcc9Options"></dx-widget>
    </div>
    <div class="tip-margin-top col-xs-6">
        <div class="tip-editor-caption">Date</div>
        <dx-widget name="dxDateBox" options.bind="idc58137d443774f57ae3c50f5e702e9d3Options"></dx-widget>
    </div>
    <div class="tip-margin-top col-xs-6">
        <div class="tip-editor-caption">Number</div>
        <dx-widget name="dxNumberBox" options.bind="id356d87d5e1364d8e931fcb834f487040Options"></dx-widget>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="tip-margin-top col-xs-6">
                <div class="tip-editor-caption">Name</div>
                <dx-widget name="dxTextArea" options.bind="idd1f2997c3c97428db09b7ebaaa9386ffOptions"></dx-widget>
            </div>
            <div class="tip-margin-top col-xs-6">
                <div class="tip-editor-caption">Name</div>
                <dx-widget name="dxCalendar" options.bind="idbf9ec0185c1143f7a2120c53071b3c1aOptions"></dx-widget>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div>
            <div class="row">
                <div class="tip-margin-top col-xs-6">
                    <div class="tip-editor-caption">Name</div>
                    <dx-widget name="dxTextArea" options.bind="ida2314b2c376542778ec789c3fa5394b6Options"></dx-widget>
                </div>
                <div class="tip-margin-top col-xs-6">
                    <div class="tip-editor-caption">Name</div>
                    <dx-widget name="dxCalendar" options.bind="idca54fcddd32b48b8bdc9cc17dda76170Options"></dx-widget>
                </div>
            </div>
        </div>
    </div>
    <div class="tip-margin-top col-xs-12">
        <h1>Dummy 3</h1>
    </div>
    <div class="col-xs-12">
        <div>
            <div class="row">
                <div class="tip-margin-top col-xs-6">
                    <div class="tip-editor-caption">Name</div>
                    <dx-widget name="dxTextArea" options.bind="id50c9c76acc2e4a5888349dee8b107c0fOptions"></dx-widget>
                </div>
                <div class="tip-margin-top col-xs-6">
                    <div class="tip-editor-caption">Name</div>
                    <dx-widget name="dxCalendar" options.bind="id475226ab938c4cc6ade6f732dd5b00dcOptions"></dx-widget>
                </div>
            </div>
        </div>
    </div>
    <div class="tip-margin-top col-xs-12">
        <div class="tip-editor-caption">Bezeichnung</div>
        <dx-widget name="dxTextBox" options.bind="idde5b290c467f41de9fa256f43310cd6aOptions"></dx-widget>
    </div>
    <div class="tip-margin-top col-xs-12">
        <div>
            <b>${model.data.$m_Dummy.Test}</b> ist am ${model.data.$m_Dummy.Date} ${model.data.$m_Dummy.Number}x hier gewesen!
        </div>
    </div>
    <div class="tip-margin-top col-xs-12">
        <div class="tip-editor-caption">Dummy</div>
        <dx-widget name="dxTextBox" options.bind="function.$f_Test.dummyText"></dx-widget>
    </div>
    <div class="col-xs-12">
        <div repeat.for=" of function.$f_Test.dataList">
            <div class="row">
                <div class="tip-margin-top col-xs-12">
                    <div>${item.a} ${item.b}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="tip-repeat-side-by-side" repeat.for=" of function.$f_Test.dataList">
            <div class="tip-margin-top">
                <div>${item.a} ${item.b}</div>
            </div>
        </div>
    </div>
    <div class="tip-margin-top col-xs-12">
        <dx-widget name="dxTabs" options.bind="id1cafd4fdbd284d2dad9f1bc37b89db15Options"></dx-widget>
    </div>
    <div show.bind="id1cafd4fdbd284d2dad9f1bc37b89db15Selected === 0">
        <div class="tip-margin-top col-xs-12">
            <div>Ich bin ein Text 1</div>
        </div>
        <div class="col-xs-12">
            <dx-widget name="dxDataGrid" options.bind="id31c4cad9f87d4de6b6da3a6985e1b562Options"></dx-widget>
        </div>
    </div>
    <div show.bind="id1cafd4fdbd284d2dad9f1bc37b89db15Selected === 1">
        <div class="tip-margin-top col-xs-12">
            <div>Ich bin ein Text 2</div>
        </div>
    </div>
    <div show.bind="id1cafd4fdbd284d2dad9f1bc37b89db15Selected === 2">
        <div class="tip-margin-top col-xs-12">
            <div>Ich bin ein Text 3</div>
        </div>
    </div>
</template>