<template>
    <div class="col-xs-12">
        <div class="tip-form-element-flex-box">
            <div class="tip-margin-top">
                <h1>${model.data.$m_Dummy2.Name} asdf</h1>
            </div>
            <div class="tip-margin-top">
                <h2>${model.data.$m_Dummy2.Name}</h2>
            </div>
            <div class="tip-margin-top">
                <h3>${model.data.$m_Dummy2.Name}</h3>
            </div>
            <div class="tip-margin-top">
                <h4>${model.data.$m_Dummy2.Name}</h4>
            </div>
            <div class="tip-margin-top">
                <h5>${model.data.$m_Dummy2.Name}</h5>
            </div>
            <div class="tip-margin-top">
                <h6>${model.data.$m_Dummy2.Name}</h6>
            </div>
        </div>
    </div>
    <div class="tip-margin-top col-xs-12">
        <i class="fa fa-home"></i>
    </div>
    <div class="tip-margin-top col-xs-12">
        <i class="fa" class.bind="function.$f_Test.icon"></i>
    </div>
    <div class="tip-margin-top col-xs-12">
        <div class="tip-form-element-image-inline tip-form-element-image" style="height: 150px;background-size: contain;background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/ec/Blume_mit_Schmetterling_und_Biene_1uf.JPG');"></div>
    </div>
    <div class="col-xs-12">
        <div class="tip-editor-caption">&nbsp;</div>
        <div>
            <div>
                Ich bin ein Dummy-Html
            </div>
        </div>
    </div>
    <div class="tip-margin-top col-xs-12">
        <div class="tip-editor-caption">&nbsp;</div>
        <dx-widget name="dxButton" options.bind="id9946cb9ea484461f88424bb8e7dc8c9eOptions"></dx-widget>
    </div>
    <div class="tip-margin-top col-xs-6">
        <div class="tip-editor-caption">Name</div>
        <dx-widget name="dxTextBox" options.bind="id532cdbc10f384e9aa334f2074f7e87a0Options"></dx-widget>
    </div>
    <div class="tip-margin-top col-xs-6">
        <div class="tip-editor-caption">Date</div>
        <dx-widget name="dxDateBox" options.bind="idccbeda4950b742bc860a18330e697ed1Options"></dx-widget>
    </div>
    <div class="tip-margin-top col-xs-6">
        <div class="tip-editor-caption">Number</div>
        <dx-widget name="dxNumberBox" options.bind="idbb9580f9860b4b88bfc7ed722bc850e0Options"></dx-widget>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="tip-margin-top col-xs-6">
                <div class="tip-editor-caption">Name</div>
                <dx-widget name="dxTextArea" options.bind="id4e125bf5a8b84225bd234c2fde6fb793Options"></dx-widget>
            </div>
            <div class="tip-margin-top col-xs-6">
                <div class="tip-editor-caption">Name</div>
                <dx-widget name="dxCalendar" options.bind="id20932cb0cf8e44a69bc1d92b631b423eOptions"></dx-widget>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div>
            <div class="row">
                <div class="tip-margin-top col-xs-6">
                    <div class="tip-editor-caption">Name</div>
                    <dx-widget name="dxTextArea" options.bind="ide00d362fd28c4a20ad7342ee2a7faa09Options"></dx-widget>
                </div>
                <div class="tip-margin-top col-xs-6">
                    <div class="tip-editor-caption">Name</div>
                    <dx-widget name="dxCalendar" options.bind="ida8b18a5806a34f788607acc65ae6eafdOptions"></dx-widget>
                </div>
            </div>
        </div>
    </div>
    <div class="tip-margin-top col-xs-12">
        <h1>Dummy 3</h1>
    </div>
    <div class="col-xs-12">
        <div>
            <div class="row">
                <div class="tip-margin-top col-xs-6">
                    <div class="tip-editor-caption">Name</div>
                    <dx-widget name="dxTextArea" options.bind="idc2adb7d7029841f49612bb5de77ec1f0Options"></dx-widget>
                </div>
                <div class="tip-margin-top col-xs-6">
                    <div class="tip-editor-caption">Name</div>
                    <dx-widget name="dxCalendar" options.bind="id2b1f31d3b0eb4762858a48d8dea1b9a1Options"></dx-widget>
                </div>
            </div>
        </div>
    </div>
    <div class="tip-margin-top col-xs-12">
        <div>
            <b>${model.data.$m_Dummy.Test}</b> ist am ${model.data.$m_Dummy.Date} ${model.data.$m_Dummy.Number}x hier gewesen!
        </div>
    </div>
    <div class="tip-margin-top col-xs-12">
        <div class="tip-editor-caption">Dummy</div>
        <dx-widget name="dxTextBox" options.bind="function.$f_Test.dummyText"></dx-widget>
    </div>
    <div class="col-xs-12">
        <div repeat.for="item of function.$f_Test.dataList">
            <div class="row">
                <div class="tip-margin-top col-xs-12">
                    <div>${item.a} ${item.b}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="tip-repeat-side-by-side" repeat.for="item of function.$f_Test.dataList">
            <div class="tip-margin-top">
                <div>${item.a} ${item.b}</div>
            </div>
        </div>
    </div>
    <div class="tip-margin-top col-xs-12">
        <dx-widget name="dxTabs" options.bind="id4c66e08da5774a58a22717b33a8b0f2aOptions"></dx-widget>
    </div>
    <div show.bind="id4c66e08da5774a58a22717b33a8b0f2aSelected === 0">
        <div class="tip-margin-top col-xs-12">
            <div>Ich bin ein Text 1</div>
        </div>
        <div class="col-xs-12">
            <dx-widget name="dxDataGrid" options.bind="id0ddb388927774bab8ab83f21e74bca75Options"></dx-widget>
        </div>
    </div>
    <div show.bind="id4c66e08da5774a58a22717b33a8b0f2aSelected === 1">
        <div class="tip-margin-top col-xs-12">
            <div>Ich bin ein Text 2</div>
        </div>
    </div>
    <div show.bind="id4c66e08da5774a58a22717b33a8b0f2aSelected === 2">
        <div class="tip-margin-top col-xs-12">
            <div>Ich bin ein Text 3</div>
        </div>
    </div>
</template>