<template>
  <div class="tip-margin-top col-xs-6">
    <div class="tip-editor-caption">Stefan</div>
    <dx-widget name="dxTextBox" options.bind="id7d5f8e5edf764d3fa6cf7e1166cd5f94Options"></dx-widget>
  </div>
  <div class="tip-margin-top col-xs-6">
    <div class="tip-editor-caption">Stefan</div>
    <dx-widget name="dxTextBox" options.bind="id454100bf36ff457581bab9134b5da430Options"></dx-widget>
  </div>
  <div class="tip-margin-top col-xs-6">
    <div class="tip-editor-caption">Stefan</div>
    <dx-widget name="dxTextBox" options.bind="id642dc56f710a45748e742d99c8e637f8Options"></dx-widget>
  </div>
  <div class="tip-margin-top col-xs-6">
    <div class="tip-editor-caption">Stefan</div>
    <dx-widget name="dxTextBox" options.bind="id28cfe322f076458590249008f8896a3bOptions"></dx-widget>
  </div>
  <div class="tip-margin-top col-xs-6">
    <div class="tip-editor-caption">Stefan</div>
    <dx-widget name="dxTextBox" options.bind="id44468f5e02a1489cae73364790be7909Options"></dx-widget>
  </div>
  <div class="tip-margin-top col-xs-6">
    <div class="tip-editor-caption">Stefan</div>
    <dx-widget name="dxTextBox" options.bind="id275a3c2a966f4bd7a4f910e0b838983bOptions"></dx-widget>
  </div>
  <div class="tip-margin-top col-xs-6">
    <div class="tip-editor-caption">Stefan</div>
    <dx-widget name="dxTextBox" options.bind="id72fbe343ed984236853d8e4bc1455badOptions"></dx-widget>
  </div>
  <div class="tip-margin-top col-xs-6">
    <div class="tip-editor-caption">Stefan</div>
    <dx-widget name="dxTextBox" options.bind="id41b64951c0a141c796276b20aaf45e8cOptions"></dx-widget>
  </div>
</template>