<template>
    <require from="./demo-form"></require>
    <require from="./form-test-form"></require>
    <div class="tip-margin-top col-xs-12">
        <dx-widget name="dxTabs" options.bind="id5faeef8cfbb9413bba76a157d78c24deOptions"></dx-widget>
    </div>
    <div show.bind="id5faeef8cfbb9413bba76a157d78c24deSelected === 0">
        <demo-form is-nested="true"></demo-form>
    </div>
    <div show.bind="id5faeef8cfbb9413bba76a157d78c24deSelected === 1">
        <form-test-form is-nested="true"></form-test-form>
    </div>
</template>