<template>
    <require from="./demo-form"></require>
    <require from="./form-test-form"></require>
    <div class="tip-margin-top col-xs-12">
        <dx-widget name="dxTabs" options.bind="id15a822ec9eb94ceba79fc2803c834b55Options"></dx-widget>
    </div>
    <div show.bind="id15a822ec9eb94ceba79fc2803c834b55Selected === 0">
        <demo-form is-nested="true"></demo-form>
    </div>
    <div show.bind="id15a822ec9eb94ceba79fc2803c834b55Selected === 1">
        <form-test-form is-nested="true"></form-test-form>
    </div>
</template>