<template class="t--container" class.bind="className">
  <require from="./container.css"></require>
  
  <require from="../loading/loading"></require>
  <require from="../sidebar/sidebar"></require>
  <require from="../header/header"></require>
  <require from="../content/content"></require>
  <require from="../../../dx/views/toolbar-button-template/toolbar-button-template"></require>

  <toolbar-button-template></toolbar-button-template>
  <loading></loading>
  <sidebar></sidebar>
  <header></header>
  <content></content>
</template>
