@import "../../base/styles/variables.less";

.t--view-content {
  opacity: 0;
  transform: translateX(10px);
  .transition(all);

  &.t--view-content-attached {
    opacity: 1;
    transform: translateX(0);
  }
}

.t--view-content-wrapper {
  background-color: #F5F5F5;

  .dx-datagrid-rowsview {
    background-color: #F5F5F5;
  }
}