@keyframes leftFadeIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.t--toolbar-title {
  font-size: 16px;
  font-weight: 100;
  color: black;
  padding: 0 12px;
}
.t--toolbar-item {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 12px;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
}
.t--toolbar-item i {
  font-size: 16px;
}
.t--toolbar-item:hover {
  color: white;
  background-color: #808080;
}
.t--toolbar-item-content {
  display: flex;
  flex-direction: row;
}
.t--toolbar.t--toolbar-inline.dx-toolbar {
  height: 32px;
  background-color: #D3D3D3;
}
.t--toolbar.t--toolbar-inline.dx-toolbar .dx-toolbar-items-container {
  height: 32px;
}
.t--toolbar.t--toolbar-inline.dx-toolbar .t--toolbar-item {
  height: 32px;
  color: black;
}
.t--toolbar.t--toolbar-inline.dx-toolbar .t--toolbar-item:hover {
  color: white;
}
.t--toolbar.t--toolbar-inline.dx-toolbar .t--toolbar-item .t--toolbar-item-content {
  flex-direction: row;
}
.t--toolbar.t--toolbar-inline.dx-toolbar .t--toolbar-title {
  font-size: 14px;
  color: black;
  font-weight: normal;
}
.t--toolbar.t--toolbar-inline.dx-toolbar .dx-state-disabled .t--toolbar-item {
  color: gray;
}
.t--toolbar.t--toolbar-inline.dx-toolbar .dx-state-disabled .t--toolbar-item:hover {
  color: gray;
}
.t--toolbar.dx-popup-normal .dx-toolbar,
.dx-popup-wrapper:not(.dx-dialog) > .dx-popup-normal.dx-popup-normal .dx-toolbar {
  margin: 12px;
  width: calc(100% - 12px * 2);
  box-sizing: content-box;
}
.t--toolbar .dx-toolbar,
.dx-popup-wrapper:not(.dx-dialog) > .dx-popup-normal .dx-toolbar {
  padding: 0;
  height: 60px;
  background-color: #808080;
  color: white;
}
.t--toolbar .dx-toolbar .dx-toolbar-items-container,
.dx-popup-wrapper:not(.dx-dialog) > .dx-popup-normal .dx-toolbar .dx-toolbar-items-container {
  height: 60px;
}
.t--toolbar .dx-state-disabled .t--toolbar-item,
.dx-popup-wrapper:not(.dx-dialog) > .dx-popup-normal .dx-state-disabled .t--toolbar-item {
  cursor: default;
  color: lightgray;
}
.t--toolbar .dx-state-disabled .t--toolbar-item:hover,
.dx-popup-wrapper:not(.dx-dialog) > .dx-popup-normal .dx-state-disabled .t--toolbar-item:hover {
  background-color: inherit;
}
.t--toolbar .t--toolbar-title,
.dx-popup-wrapper:not(.dx-dialog) > .dx-popup-normal .t--toolbar-title {
  font-size: 26px;
  color: white;
}
.t--toolbar .t--toolbar-item,
.dx-popup-wrapper:not(.dx-dialog) > .dx-popup-normal .t--toolbar-item {
  height: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.t--toolbar .t--toolbar-item:hover,
.dx-popup-wrapper:not(.dx-dialog) > .dx-popup-normal .t--toolbar-item:hover {
  background-color: #4F4F4F;
}
.t--toolbar .t--toolbar-item-content,
.dx-popup-wrapper:not(.dx-dialog) > .dx-popup-normal .t--toolbar-item-content {
  flex-direction: column;
}
.dx-popup-wrapper.dx-lookup-popup-search > .dx-popup-normal .dx-toolbar {
  height: 30px;
}
.dx-popup-wrapper.dx-lookup-popup-search > .dx-popup-normal .dx-toolbar .dx-toolbar-items-container {
  height: 30px;
}
.dx-popup-wrapper.dx-lookup-popup-search > .dx-popup-normal .dx-toolbar .dx-toolbar-item .dx-toolbar-item-content {
  padding: 0 12px;
  font-size: 14px;
}
.dx-popup-wrapper.dx-lookup-popup-search > .dx-popup-normal .dx-list .dx-scrollview-content {
  padding: 0 12px;
}
.dx-popup-wrapper.dx-lookup-popup-search > .dx-popup-normal .dx-lookup-search-wrapper {
  padding: 0 12px;
}
