@import "../../base/styles/variables.less";
@inlineToolbarHeight: 32px;

.t--toolbar-title {
  font-size: 16px;
  font-weight: 100;
  color: black;
  padding: 0 12px;
}

.t--toolbar-item {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 @padding;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  i {
    font-size: 16px;
  }
  &:hover {
    color: white;
    background-color: #808080;
  }
}

.t--toolbar-item-content {
  display: flex;
  flex-direction: row;
}

.t--toolbar.t--toolbar-inline.dx-toolbar {
  height: @inlineToolbarHeight;
  background-color: #E5E5E5;

  .dx-toolbar-items-container {
    height: @inlineToolbarHeight;
  }

  .t--toolbar-item {
    &:hover {
      color: white;
    }
    .t--toolbar-item-content {
      flex-direction: row;
    }

    height: @inlineToolbarHeight;
    color: black;
  }

  .t--toolbar-title {
    display: flex;
    align-items: center;
    height: @inlineToolbarHeight;
    font-size: 14px;
    font-weight: normal;
    color: black;
  }

  .dx-state-disabled {
    .t--toolbar-item {
      &:hover {
        color: gray;
      }

      color: gray;
    }
  }
}

.t--toolbar,
.dx-popup-wrapper:not(.dx-dialog):not(.dx-lookup-popup-search):not(.dx-tagbox-popup-wrapper):not(.dx-popover-wrapper):not(.dx-dropdowneditor-overlay) > .dx-popup-normal {
  &.dx-popup-normal {
    background-color: #F5F5F5;

    > .dx-popup-content {
      > dx-template {
        display: block;
        height: 1px;
        min-height: ~"calc(100% - 24px)";

        > .parent-container {
          height: 1px;
          min-height: 100%;
        }
      }
    }

    .dx-toolbar {
      margin: @padding;
      width:~"calc(100% - @{padding} * 2)";
      box-sizing: content-box;
    }
  }
  .dx-toolbar {
    padding: 0;
    height: @toolbarHeight;
    background-color: #808080;
    color: white;
   
    .dx-toolbar-items-container {
      height: @toolbarHeight;
    }
  }
  
  .dx-state-disabled {
    .t--toolbar-item {
      cursor: default;
      color: lightgray;
      &:hover {
        background-color: inherit;
      }
    }
  }
  .t--toolbar-title {
    font-size: 26px;
    color: white;
  }
  .t--toolbar-item {
    height: @toolbarHeight;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    &:hover {
      background-color: #4F4F4F;
    }
  }
  .t--toolbar-item-content {
    flex-direction: column;
  }
}