<template>
    <div class="t--margin-top col-xs-12 t--login-logo">
        <img class="t--form-element-image" src="http://2014.erp-future.com/sites/2014.erp-future.com/files/1_business/Logo_U_TIP.png"></img>
    </div>
    <div class="t--margin-top col-xs-12">
        <h2>Anmeldedaten</h2>
    </div>
    <div class="col-xs-12">
        <div>Geben Sie hier Ihren Benutzernamen und Passwort ein und klicken Sie auf "Anmelden".</div>
    </div>
    <div class="t--margin-top col-xs-12">
        <div class="t--editor-caption">Benutzername</div>
        <dx-widget name="dxTextBox" options.bind="id056f04d55ac74792bacac4cc66ba586cOptions"></dx-widget>
    </div>
    <div class="t--margin-top col-xs-12">
        <div class="t--editor-caption">Passwort</div>
        <dx-widget name="dxTextBox" options.bind="idede0486d78c54618b71e2c7d13cc8d3bOptions"></dx-widget>
    </div>
    <div class="t--margin-top col-xs-12">
        <div class="t--editor-caption">&nbsp;</div>
        <dx-widget name="dxCheckBox" options.bind="id3304813fb84f43ac889af0d91c6d5407Options"></dx-widget>
    </div>
    <div class="t--margin-top col-xs-12">
        <div class="t--editor-caption">&nbsp;</div>
        <dx-widget name="dxButton" options.bind="id1db2b3d6d30b4c71b3c811be4348f200Options"></dx-widget>
    </div>
</template>