<template>
    <div class="t--margin-top col-xs-12 t--login-logo">
        <img class="t--form-element-image" src="http://2014.erp-future.com/sites/2014.erp-future.com/files/1_business/Logo_U_TIP.png"></img>
    </div>
    <form submit.delegate="submitForm('functions.$f.loginCommand')">
        <button class="t--invisible-submit" type="submit"></button>
        <div class="col-xs-12">
            <div>Geben Sie hier Ihren Benutzernamen und Passwort ein und klicken Sie auf "Anmelden".</div>
        </div>
        <div class="t--margin-top col-xs-12">
            <div class="t--editor-caption">Benutzername</div>
            <dx-widget name="dxTextBox" options.bind="id52f0348518dd4c26bdae71825bd7472bOptions"></dx-widget>
        </div>
        <div class="t--margin-top col-xs-12">
            <div class="t--editor-caption">Passwort</div>
            <dx-widget name="dxTextBox" options.bind="idd8654a2a5de54b8e8ba5fc8ae6aa2ce2Options"></dx-widget>
        </div>
        <div class="t--margin-top col-xs-12">
            <div class="t--editor-caption">&nbsp;</div>
            <dx-widget name="dxCheckBox" options.bind="id68feada8a7ca45ed94a23c736c70a032Options"></dx-widget>
        </div>
        <div class="t--margin-top col-xs-12">
            <div class="t--editor-caption">&nbsp;</div>
            <dx-widget name="dxButton" options.bind="id20589f843038464f9942ef2a8c1034cdOptions"></dx-widget>
        </div>
    </form>
</template>