<template>
    <div class="t--margin-top col-xs-12">
        <div class="t--editor-caption">Benutzername</div>
        <dx-widget name="dxTextBox" options.bind="idc1b6cc850c26488295131545f145d904Options"></dx-widget>
    </div>
    <div class="t--margin-top col-xs-12">
        <div class="t--editor-caption">Passwort</div>
        <dx-widget name="dxTextBox" options.bind="idf05d27b222ea43238e235e688ae5b529Options"></dx-widget>
    </div>
    <div class="t--margin-top col-xs-12">
        <div class="t--editor-caption">&nbsp;</div>
        <dx-widget name="dxCheckBox" options.bind="id57c9ed9065dd45fab243831cdc851812Options"></dx-widget>
    </div>
    <div class="t--margin-top col-xs-12">
        <div class="t--editor-caption">&nbsp;</div>
        <dx-widget name="dxButton" options.bind="id6c8e49802d3a4559b478a993119ad921Options"></dx-widget>
    </div>
</template>