@keyframes leftFadeIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.t--content {
  display: block;
  margin-left: 280px;
  height: calc(100% - 60px);
  transition: all 0.3s cubic-bezier(0.62, 0.28, 0.23, 0.99);
  transition-property: margin-left;
}
.t--sidebar-collapsed .t--content {
  margin-left: 60px;
}
.t--view-current {
  display: block;
}
.t--view-history {
  display: none;
}
