<template>
    <div class="t--margin-top col-xs-12">
        <div class="t--editor-caption">Benutzername</div>
        <dx-widget name="dxTextBox" options.bind="id01362b21f9c84022804a1fb73694c986Options"></dx-widget>
    </div>
    <div class="t--margin-top col-xs-12">
        <div class="t--editor-caption">Passwort</div>
        <dx-widget name="dxTextBox" options.bind="id7d0ab6f9c336408e8c47b4a30960872bOptions"></dx-widget>
    </div>
    <div class="t--margin-top col-xs-12">
        <div class="t--editor-caption">&nbsp;</div>
        <dx-widget name="dxCheckBox" options.bind="idd888ec1707324b3bbb9653f7ae2fc1a0Options"></dx-widget>
    </div>
    <div class="t--margin-top col-xs-12">
        <div class="t--editor-caption">&nbsp;</div>
        <dx-widget name="dxButton" options.bind="idae9f0b156b2d44689e184cee65cde798Options"></dx-widget>
    </div>
</template>