<template>
    <dx-widget name="dxValidationGroup" options.bind="wd1Options" view-model.ref="wd1">
        <div class="container">
            <div class="col-xs-12">
                <div tr="key: authgroup-edit.info_text; markdown: true; mode: html"></div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="t--editor-caption" tr="key: authgroup-edit.name_caption"></div>
                <dx-widget name="dxTextBox" options.bind="nameOptions" view-model.ref="name"></dx-widget>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="t--editor-caption" tr="key: authgroup-edit.mandator_caption"></div>
                <dx-widget name="dxSelectBox" options.bind="mandatorOptions" view-model.ref="mandator"></dx-widget>
            </div>
        </div>
    </dx-widget>
</template>