<template>
    <require from="./authgroup-edit-form"></require>
    <dx-widget class="t--form-validation-group" name="dxValidationGroup" options.bind="wd1Options" view-model.ref="wd1">
        <div class="container t--form-container">
            <dx-widget name="dxPopup" options.bind="editOptions" view-model.ref="edit">
                <dx-template name="contentTemplate">
                    <div class="parent-container">
                        <authgroup-edit-form view-model.ref="editContent" is-edit-form="true"></authgroup-edit-form>
                    </div>
                </dx-template>
            </dx-widget>
            <div class="col-xs-12 t--form-relative-container">
                <div class="t--form-absolute-container">
                    <dx-widget name="dxDataGrid" options.bind="authgroupsOptions" view-model.ref="authgroups"></dx-widget>
                </div>
            </div>
        </div>
    </dx-widget>
</template>