<template class="t--sidebar">
  <require from="../sidebar-sub/sidebar-sub"></require>
  <require from="./sidebar.css"></require>

  <div class="t--sidebar-header" click.delegate="onHeaderClicked()">
    <div class="t--sidebar-header-title" tr="key: base.navigation">
    </div>
    <div class="t--sidebar-header-icon">
      <i class="fa fa-${headerIcon}"></i>
    </div>
  </div>

  <ul>
    <li
      repeat.for="route of router.navigationRoutes">
      <sidebar-sub route.bind="route" if.bind="route.sidebarExpanded"></sidebar-sub>
      <a 
        href.bind="route.route ? '#' + route.route : ''" 
        class="t--sidebar-item"
        click.delegate="onRouteClicked(route)"
        stack-router-link="clear-stack.bind: true">
        <span class="t--sidebar-item-title" tr="key.bind: route.caption">
        </span>
        <span class="t--sidebar-item-icon" if.bind="route.navigation.icon" title.bind="route.caption | tr">
          <i class="fa fa-${route.navigation.icon}"></i>
        </span>
      </a>
    </li>
  </ul>
</template>
